<p id="notice"><%= notice %></p>

<h1 id="title_of_blog">
  <!--<strong>Title:</strong> --> 
  <%= @blog.title %>
</h1> 
<br>
<p id="content_of_blog">
 <!-- <strong>Content:</strong> --> 
  <%= @blog.content %>
</p> <br>

<br> <br> <br> 
<%= link_to 'Edit', edit_blog_path(@blog) %> 

<%= render 'comments/createcomment' %>

<div id="comment_wrapper">
<% @blog.comment_feed(@blog.id).each do |comment| %>
	<%= render 'showcomments', comment: comment %>
<% end %>
</div>

