<p id="notice"><%= notice %></p>

<h1 id="title_of_blog">
  <!--<strong>Title:</strong> --> 
  <%= @blog.title %>
</h1> 
<br>
<p id="content_of_blog">
 <!-- <strong>Content:</strong> --> 
  <%= @blog.content %>
</p> <br>

<br> <br> <br> 
<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>