 <%= stylesheet_link_tag    'sign_up', media: 'all', 'data-turbolinks-track' => true %>
<%= video_tag "video.mp4", autoplay: :autoplay, loop: :loop, mute: :mute, class: "video" %>

<div id="devise_sign_up"> 
<div id="devise_sign_up_header">
<h2>SIGN UP</h2>
</div> 
<div id="devise_sign_up_wrapper">
<div id="devise_sign_up_form">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
   <p>  <%= f.label :first_name %> <br />
   <span> <%= f.text_field :first_name, autofocus: true %> </span> </p>
  </div>

  <div class="field">
   <p> <%= f.label :last_name %></br>
   <span>  <%= f.text_field :last_name, autofocus: true %> </span> </p> 
  </div>

  <div class="field">
  <p>  <%= f.label :enrollment_no %> 
    <em>(Example: 03201012015)</em></br>
    <span><%= f.text_field :enrollment_no, autofocus: true %> </span></p>
  </div>

  <div class="field">
    <p> <%= f.label :branch %> 
    <em>(Example: CSE/IT/ECE/MAE)</em> </br> 
   <span> <%= f.text_field :branch, autofocus: true %></span></p>
  </div>

  <div class="field">
    <p><%= f.label :year %> 
    <em>(Example: First)</em> </br> 
   <span> <%= f.text_field :year, autofocus: true %> </span> </p>
  </div>

  <div class="field">
  <p>  <%= f.label :email %></br>
    <span><%= f.email_field :email, autofocus: true %></span></p>
  </div>
  
  <div class="field">
  <p>  <%= f.label :password %> 
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %></br>
   <span> <%= f.password_field :password, autocomplete: "off" %> </span> </p>
  </div>

  <div class="field">
  <p>  <%= f.label :password_confirmation %> </br>
    <span><%= f.password_field :password_confirmation, autocomplete: "off" %> </span></p>
  </div>

  <div class="actions">
  <%= f.submit :id=> 'button' "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>
</div> 
</div> 