<%= form_tag url_for(controller: 'student_home', action: 'add_por') do  %>


  <div class="field">
    <%= label_tag :por_title %><br>
    <%= text_field_tag :por_title %>
  </div>

    <div class="field">
    <%= label_tag :por_content %><br>
    <%= text_field_tag :por_content %>
  </div>
  
  
  <div class="actions">
    <%= submit_tag %>
  </div>
<% end %>