<h1>Profile</h1>
<br>

<div id="student_profile">


	<div id="student_profile_header">
		<%= current_student.first_name %> <%=  current_student.last_name %><br>
		<%= current_student.enrollment_no %> <br>
		<%= current_student.branch.upcase %>, <%= current_student.year %> Year
	</div>

	<div id="student_profile_main">

		<div id="skills">
			<%= link_to 'ADD SKILLS' , url_for(controller: "student_home" , action: "add_skill",id: current_student.id), :id=>"plus_skill"%>
			<!--<div id="add_skill">
				
			</div>-->
			

		</div>

		<div id="work_experiences">
			<%= link_to 'ADD EXPERIENCE' , url_for(controller: "student_home" , action: "add_experience",id: current_student.id), :id=>"plus_experience"%>
		</div>

		<div id="positions_of_responsibility">
			<%= link_to 'ADD POSITIONS OF RESPONSIBILITY' , url_for(controller: "student_home" , action: "add_por", :id=>current_student.id) %>
		</div>

		<div id="research_paper">
		</div>


	</div>

</div>

