<h3> TRAINING AND PLACEMENT </h3>
	<nav id="tnp_placement">
		<ul>
		<li> <%= link_to "Placement 2016-17", asset_path("PLACEMENT 2016-17.pdf") %> </li> 
		<li> <%= link_to "Placement 2015-16", asset_path("PLACEMENT 2015-16.pdf") %> </li> 
		<li> <%= link_to "Placement 2014-15", asset_path("PLACEMENT 2014-15.pdf") %> </li> 
		<li> <%= link_to "Placement 2013-14", asset_path("PLACEMENT 2013-14.pdf") %> </li> 
		<li> <%= link_to "Placement 2012-13", asset_path("PLACEMENT 2012-13.pdf") %> </li> 
		<li> <%= link_to "Placement 2011-12", asset_path("PLACEMENT 2011-12.pdf") %> </li> 
		<li> <%= link_to "Placement 2010-11", asset_path("PLACEMENT 2010-11.pdf") %> </li> 
		
	</ul>
</nav>
