<!DOCTYPE html>
<html>
<head>
  <title>IGDTUW TnP</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
 <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>

    <% if notice %>
    
    <script type="text/javascript">
      noty({text: '<%= notice %>', type: 'alert'});
    </script>

    <% end %>
    
    <% if alert %>
    <script type="text/javascript">
      noty({text: '<%= alert %>', type: 'error'});
    </script>
    <% end %>
	 <% if student_signed_in? %>

   <div id="student_wrapper"> 
        <!--<div id="wrap">-->            
              <div class="search">
                <input type="text" class="searchTerm" placeholder="What are you looking for?">
                <button type="submit" class="searchButton"><i class="fa fa-search"></i>

                <!--<i class="fa fa-search"></i>-->
                </button>
              </div > 
            

            <div id="profile_nav">
                <ul>
                  <li style="color:white;"> 
                    <div>
                      <i class="fa fa-home"></i><%= link_to 'Home' ,url_for(controller: 'student_home', action: 'feed') %>
                    </div>
                  </li>
                  <li>
                    <div>
                      <i class="fa fa-pencil"></i> 
                      <%= link_to 'Write' ,url_for(controller: 'blogs', action: 'new') %>  
                    </div>
                  </li>
                  <li> <div><i class="fa fa-user"></i><%= link_to 'Profile' ,url_for(controller: 'student_home', action: 'profile', :id=>current_student.id) %> </div>
                  </li> 
                  <li> <div><i class="fa fa-sign-out"></i><%= link_to 'Logout', destroy_student_session_path,     method: :delete %></div> 
                  </li>
                </ul>
            </div> 
                    <br> <br> 
          <!--</div>-->
      </div> 

      <main class="profile_page">
        <% if params[:action]!='profile' %>
        <section id="side_profile">
          <div id="side_profile_section">
            <div id="section_header">
              <div id="section_profile_image">
                <% if current_student.profile_picture %>
               <img src="/upload/<%=current_student.profile_picture %>">
                <% end %>
                
              </div>
            </div>
                <br><br>               
                <%= current_student.first_name %> <%=  current_student.last_name %><br>
                <%= current_student.enrollment_no %> <br>
                <%= current_student.branch.upcase %>, <%= current_student.year %> Year
                
                <br><br>
                <div id="update-link" ><%= link_to 'Update your profile' ,url_for(controller: 'student_home', action: 'profile', :id=>current_student.id) %> </div>
          </div>

          
        </section> 
        <%end%> 

        <section id="current_stu_profile">
           <%= yield %>
           
        </section>
      <% end %>
     


   
  
     
    </main>

</body>
