<!DOCTYPE html>
<html>
<head>
  <title>IGDTUW TnP</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
 <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
</head>
<body>

    <% if notice %>
    
    <script type="text/javascript">
      noty({text: '<%= notice %>', type: 'alert'});
    </script>

    <% end %>
    
    <% if alert %>
    <script type="text/javascript">
      noty({text: '<%= alert %>', type: 'error'});
    </script>
    <% end %>
	 <% if student_signed_in? %>

   <div id="student_wrapper"> 
      <!--<h1>Welcome <%= current_student.first_name %> !!</h1>  --> 
      <div id="student_header">
        <div id="wrap">
           <div id="searchbox">
              <div class="search">
                <input type="text" class="searchTerm" placeholder="What are you looking for?">
                <button type="submit" class="searchButton">
                <i class="fa fa-search"></i>
                </button>
              </div > 
             </div>

              <div id="profile_nav">
                <ul>
               
                <li> <%= link_to 'Write' ,url_for(controller: 'blogs', action: 'new') %> <br> </li>
                <li> <%= link_to 'Profile' ,url_for(controller: 'student_home', action: 'profile', :id=>current_student.id) %> </li> 
                 <li> <%= link_to 'Logout', destroy_student_session_path, method: :delete %> <br> </li>
                </ul>
              </div> 
                    <br> <br> 
            </div>
        </div>


      </div> 

      
      <% end %>
     


   
	
      <%= yield %>

</body>
</html>
