<!DOCTYPE html>
<html>
<head>
  <title>IGDTUW TnP</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
 <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">

</head>
<body>

    <% if notice %>
    
    <script type="text/javascript">
      noty({text: '<%= notice %>', type: 'alert'});
    </script>

    <% end %>
    
    <% if alert %>
    <script type="text/javascript">
      noty({text: '<%= alert %>', type: 'error'});
    </script>
    <% end %>
	 <% if student_signed_in? %>

   <div id="student_wrapper"> 
        <!--<div id="wrap">-->            
              <div class="search">
                <input type="text" class="searchTerm" placeholder="What are you looking for?">
                <button type="submit" class="searchButton">Search
                <!--<i class="fa fa-search"></i>-->
                </button>
              </div > 
            

            <div id="profile_nav">
                <ul>
                <li> <%= link_to 'Home' ,url_for(controller: 'student_home', action: 'feed') %> </li>
                <li> <%= link_to 'Write' ,url_for(controller: 'blogs', action: 'new') %>  </li>
                <li> <%= link_to 'Profile' ,url_for(controller: 'student_home', action: 'profile', :id=>current_student.id) %> </li> 
                 <li> <%= link_to 'Logout', destroy_student_session_path, method: :delete %> </li>
                </ul>
            </div> 
                    <br> <br> 
          <!--</div>-->
      </div> 

      <main class="profile_page">
        <section id="side_profile">
          
        </section>  

        <section id="current_stu_profile">
           <%= yield %>
        </section>
      <% end %>
     


   
	
     
    </main>

</body>
</html>
